<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "name", "City Name" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <%= form.label "created_at" %>
    <%= form.date_field "created_at" %>
  </p>
  <%= form.submit %>
<% end %>